//Colors
$black: rgba(0, 0, 0, 1);
$accent-violet: rgba(203, 17, 171, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(151, 151, 175, 1);
$light-gray: rgba(0, 0, 0, 0.2);
$violet: rgba(103, 37, 168, 1);
$bg: rgba(246, 246, 250, 1);
$orange: rgba(255, 59, 48, 1);